html {
    background: black;
    font-style: rgb(124, 68, 68);
        font-family: 'Times New Roman', Times, serif;
}
head{
    background-color: black;
    font: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body {
    color:#000;
}

img {
    height: 250px;
    width: 100%;
}
/*This alters the text in the content*/
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white
}
body{
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header.primary{
    background-color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 60px;

}
/*Beginning of navgation css*/
header.primary h1 a:link,
header.primary h1 a:visited{
    color: red;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

header.primary nav ul li a:link, 
header.primary nav ul li a:visited {
  color:#fff;
  text-decoration:none;
  background-color: black;
  padding:8px 16px;
  transition:.5s;
  border: 1px solid rgba(0,0,0,.4);
}

header.primary nav ul li a:hover, header.primary nav ul li a:active {
    background-color:#ff0000;
   }
/*End of Navigation cssc */

.container {
    margin: 100px;
    width: 50px;
    height: fit-content;
}

p{
    color:#000;
}
/*Footer content*/
footer {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end ;
}

/* the @media section */

@media screen and (max-width: 600px){
   .primary ul {
        float: none;
        width: 100%
    }
}
